h1 {
  background-color: thistle;
  color: yellow;
}
ol ul li {
  background-color: black;
  color: aliceblue;
}
#limes {
  color: lime;
  background-color: black;
}

a {
  background-color: thistle;
  color: teal;
}
